.add-header{
    position: relative;
    padding:5% 0 5% 0;
}
.add-img img{
    position: absolute;
    top:0;
    right:0;
}
.map {
    padding-top: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map{

}
.map-img{
    position: relative;
    background-image: url("../img/map.png");
    height: 450px;
    width: 850px;
    z-index: 0;

}
.marker{
    position: absolute;
    z-index: 1;
    top:0;
    left:0;
}
.save-btn{
    float: right;
}
.pos{
    color: red;
}
